<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CryptoHaven</title>
    <link rel="stylesheet" href="/static/stylesheet.css">
</head>
<body>
    <form method="POST">
        <h1>CryptoHaven</h1>
        <h4 for="text">Enter text to be encrypted:</h4>
        <textarea id="text" name="text">{% if originalText %}{{ originalText }}{% endif %}</textarea>

        <h4 for="algorithm">Select Algorithm:</h4>
        <select id="algorithm" name="algorithm">
            <option value="caesar" {% if selectedAlgorithm == "caesar" %}selected{% endif %}>Caesar Cipher</option>
            <option value="base64" {% if selectedAlgorithm == "base64" %}selected{% endif %}>Base64</option>
            <option value="railfence" {% if selectedAlgorithm == "railfence" %}selected{% endif %}>Railfence</option>
            <option value="substitution" {% if selectedAlgorithm == "substitution" %}selected{% endif %}>Substitution Cipher</option>
            <option value="viginere" {% if selectedAlgorithm == "viginere" %}selected{% endif %}>Viginere Cipher</option>
            <option value="idcipher" {% if selectedAlgorithm == "idcipher" %}selected{% endif %}>IdCipher</option>
            <option value="savelson" {% if selectedAlgorithm == "savelson" %}selected{% endif %}>SavelsonCipher</option>
        </select>

        <div id="shift" style="display: none">
            <h4 for="shift">Shift:</h4>
            <input type="number" id="shift" name="shift" value="{{ selectedShift }}">
        </div>

        <div id="key" style="display: none">
            <h4 for="key">Key:</h4>
            <input type="text" id="key" name="key" value="{{ selectedKey }}">
        </div>

        <div id="subkey" style="display: none">
            <h4 for="subkey">Substitution Key:</h4>
            <input minlength="26" maxlength="26" type="text" id="subkey" name="subkey" value="{{ selectedKey }}">
        </div>

        <h4 for="operation">Operation:</h4>
        <select id="operation" name="operation">
            <option value="encrypt" {% if selectedOperation == "encrypt" %}selected{% endif %}>Encrypt</option>
            <option value="decrypt" {% if selectedOperation == "decrypt" %}selected{% endif %}>Decrypt</option>
        </select>

        <button type="submit">Submit</button>
    </form>

    <div id="resultDiv">
        <h1 id="result">Result</h1>
        <p>{% if result %}{{ result }}{% endif %}</p>
    </div>
    <script>
        const algorithm = document.getElementById('algorithm');
        const shiftAmount = document.getElementById('shift');
        const key = document.getElementById("key");
        const subkey = document.getElementById("subkey");
        const updateFieldVisibility = () => 
        {
            const selectedAlgorithm = algorithm.value;

            if (selectedAlgorithm === "railfence" || selectedAlgorithm === "caesar") 
            {
                shiftAmount.style.display = "block";
            } 
            else 
            {
                shiftAmount.style.display = "none";
            }

            if (selectedAlgorithm === "viginere") 
            {
                key.style.display = "block";
            } 
            else 
            {
                key.style.display = "none";
            }

            if (selectedAlgorithm === "substitution") 
            {
                subkey.style.display = "block";
            } 
            else 
            {
                subkey.style.display = "none";
            }
        };

        window.onload = updateFieldVisibility;
        algorithm.addEventListener("change", updateFieldVisibility);
    </script>
</body>
</html>
